# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List common Python libraries for Data Science
- List 3 development environment open source tools used in data science
- Arithmetic expressions examples in Python

These are some of the most popular languages in Data Science:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. JavaScript
9. PHP
10. Ruby

Some of the commonly used Python libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Pandas
4. PyTorch
5. TensorFlow

Development environment open source tools used in data science:
| Data Science Tools |
| --- |
| Jupyter Notebook |
| Git/GitHub |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers

x=(3*4)+5
x

17

In [7]:
# This will convert 200 minutes to hours by diving by 60.
min=200
hrs=min/60
print(hrs, "hours.")

3.3333333333333335 hours.

## Author
Mauricio Gonzalez-Suarez